<app-header></app-header>
<div class="container">
	<p></p>
	<h2>Reparaciones</h2>
	<form [formGroup]="filtrarReparacionesForm">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Ingrese su búsqueda..." formControlName="filtro" (keyup)="keyPress($event)">
			<button class="btn btn-secondary" type="button" (click)="filtrar()" id="btn-buscar">Buscar</button>
			<button class="btn btn-danger" type="button" (click)="limpiar()" id="btn-limpiar">Limpiar</button>
			<button class="btn btn-success" type="button" (click)="nuevaReparacion()" id="btn-nuevo">Nuevo</button>
		</div>
	</form>
	<table class="table table-hover table-striped" id="tablaReparaciones" style="border-radius: 10%px;">
		<thead>
			<tr>
				<th scope="col" (click)="ordenar('id')"># <i [ngClass]="{'fas fa-sort-numeric-down' : orderIDDesc !== undefined && orderIDDesc, 'fas fa-sort-numeric-up-alt' : orderIDDesc !== undefined && !orderIDDesc }"></i></th>
				<th scope="col" (click)="ordenar('nombre')">Nombre <i [ngClass]="{'fas fa-chevron-up' : orderNombreDesc !== undefined && orderNombreDesc,'fas fa-chevron-down' : orderNombreDesc !== undefined && !orderNombreDesc }"></i></th>
				<th scope="col" (click)="ordenar('vehiculo')">Vehiculo </th>
				<th scope="col" (click)="ordenar('estado')">Estado </th>
				<th scope="col" (click)="ordenar('fechaEntrada')">Fecha Entrada </th>
				<th scope="col" (click)="ordenar('fechaSalida')">Fecha Salida </th>
				<th scope="col"></th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let d of reparaciones">
				<th scope="row">{{d.id}}</th>
				<td>{{d.cliente.nombre}} {{d.cliente.apellido}}</td>
				<td>{{d.descripcionVehiculo}}</td>
				<td>{{d.estado.nombre}}</td>
				<td>{{d.fechaEntrada | date : 'dd/MM/yyyy'}}</td>
				<td>{{d.fechaSalida | date : 'dd/MM/yyyy'}}</td>

				<td><button type="button" class="btn btn-primary" (click)="ver(d.id)">Ver</button></td>
			</tr>
		</tbody>
		<!-- <tfoot>
			Listado de Reparaciones
		</tfoot> -->
	</table>
</div>
<app-footer></app-footer>