<app-header></app-header>
<div class="container">
	<div style="text-align: center;">
		<p></p>
		<h2>{{titulo}}</h2>
	</div>
	<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

		<div class="form-group" id="dates-group">
			<div class="row">
				<div class="col">
					<label class="control-label">Fecha de Entrada </label>
				</div>
				<div class="col col-lg-2" style="width: 100px;">
	
				</div>
				<div class="col">
					<label class="control-label">Fecha de Salida </label>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
						<input class="form-control" type="date" min="{{fechaActualFormateada}}" id="fechaEntrada" formControlName="fechaEntrada"
						[ngClass]="{ 'is-invalid' : enviado && formulario.controls.fechaEntrada.errors }">
					</div>
					<div *ngIf="enviado && formulario.controls.fechaEntrada.errors" class="invalid-feedback">
						<div *ngIf="formulario.controls.fechaEntrada.errors.required">Debe seleccionar una fecha de entrada</div>
					</div>
				</div>
				<div class="col col-lg-2" style="width: 100px;">
	
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
						<input class="form-control" type="date" min="{{fechaActualFormateada}}" id="fechaSalida" formControlName="fechaSalida">
					</div>
				</div>
			</div>
		</div>

		<div class="form-group" id="clientgroup">
			<label class="control-label">Cliente</label>

			<div class="input-group mb-3">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
				<input type="text" class="form-control" (keyup)="keyPress($event)"
					aria-label="Recipient's username" aria-describedby="basic-addon2" id="nombreCliente" formControlName="nombreCliente"
					[ngClass]="{ 'is-invalid' : enviado && formulario.controls.nombreCliente.errors }">
				<span class="btn btn-secondary" id="btn-buscar" (click)="buscar()" *ngIf="modoEditar"> <i class="fas fa-search"></i> Buscar </span>
			</div>
			<div *ngIf="enviado && formulario.controls.nombreCliente.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.nombreCliente.errors.required">Debe ingresar un nombre a buscar</div>
				<div *ngIf="formulario.controls.nombreCliente.errors.minlength">El nombre ingresado debe contener al menos
					{{formulario.controls.nombreCliente.errors.minlength.requiredLength}} caracteres.</div>
			</div>
	
			<div>
				<select class="form-control form-select" id="clientes" formControlName="selectCliente" *ngIf="modoEditar">
					<option [ngValue]="cliente" *ngFor="let cliente of clientesFiltrados">{{cliente.apellido}}, {{cliente.nombre}}</option>
				</select>
			</div>			
		</div>

		<div class="form-group" id="vehiculo-group">
			<label class="control-label">Datos del Vehículo</label>
			<div class="input-group mb-3">
				<span class="input-group-text"><i class="fas fa-car"></i></span>
				<span class="input-group-text" id="subspan">Marca</span>
				<input type="text" class="form-control" placeholder="Ej. Renault"  formControlName="marca" 
				[ngClass]="{ 'is-invalid' : enviado && formulario.controls.marca.errors }">
				<span class="input-group-text" id="subspan">Modelo</span>
				<input type="text" class="form-control" placeholder="Ej. Clio Mio 1.6" formControlName="modelo" 
				[ngClass]="{ 'is-invalid' : enviado && formulario.controls.marca.errors }">
				<span class="input-group-text" id="subspan">Patente</span>
				<input type="text" class="form-control" placeholder="Ej. NPQ957" formControlName="dominio" 
				[ngClass]="{ 'is-invalid' : enviado && formulario.controls.marca.errors }">
			</div>
			<div *ngIf="enviado && formulario.controls.marca.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.marca.errors.required">Debe ingresar la marca del vehículo.</div>
				<div *ngIf="formulario.controls.marca.errors.minlength">La marca ingresada debe contener al menos
					{{formulario.controls.marca.errors.minlength.requiredLength}} caracteres.</div>
			</div>
			<div *ngIf="enviado && formulario.controls.modelo.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.modelo.errors.required">Debe ingresar el modelo del vehículo.</div>
				<div *ngIf="formulario.controls.modelo.errors.minlength">El modelo ingresado debe contener al menos
					{{formulario.controls.modelo.errors.minlength.requiredLength}} caracteres.</div>
			</div>
			<div *ngIf="enviado && formulario.controls.dominio.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.dominio.errors.required">Debe ingresar el dominio del vehículo.</div>
				<div *ngIf="formulario.controls.dominio.errors.minlength">El dominio ingresado debe contener al menos
					{{formulario.controls.dominio.errors.minlength.requiredLength}} caracteres.</div>
			</div>
		</div>

		<div class="form-group" id="estado-group">
			<label class="control-label">Estado</label>
			<div class="input-group mb-3">
				<span class="input-group-text"><i class="fas fa-cogs"></i></span>
				<input type="text" class="form-control" placeholder="Ingrese el estado"	aria-describedby="basic-addon2" 
				id="estado" formControlName="estado" *ngIf="!modoEditar">
				<select class="form-control form-select" id="estados" formControlName="selectEstado" *ngIf="modoEditar">
					<option [ngValue]="estado" *ngFor="let estado of estados">{{estado.nombre}}</option>
				</select>
			</div>
		</div>

		<div class="form-group" id="description-group">
			<label class="control-label">Descripción</label>
			<div>
				<div class="input-group">
					<textarea class="form-control" aria-label="With textarea" placeholder="Ingrese la descripción de la reparación aquí." formControlName="descripcion" 
						[ngClass]="{ 'is-invalid' : enviado && formulario.controls.descripcion.errors }">
					</textarea>
				</div>
			</div>
			<div *ngIf="enviado && formulario.controls.descripcion.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.descripcion.errors.required">Debe ingresar descripcion sobre el estado y la reparación del vehículo.</div>
				<div *ngIf="formulario.controls.descripcion.errors.minlength">La descripcion ingresada debe contener al menos
					{{formulario.controls.descripcion.errors.minlength.requiredLength}} caracteres.</div>
				<div *ngIf="formulario.controls.descripcion.errors.maxlength">La descripcion ingresada debe contener como máximo
					{{formulario.controls.descripcion.errors.maxlength.requiredLength}} caracteres.</div>
			</div>
		</div>

		<div class="form-group" id="cost-group">
			<label class="control-label">Costo de la reparación</label>
			<div class="input-group mb-3">
				<span class="input-group-text"><b>$</b></span>
				<input type="number" class="form-control" placeholder="Ingrese el valor del servicio" id="costo"  formControlName="costo"
				[ngClass]="{ 'is-invalid' : enviado && formulario.controls.costo.errors }" min="0">
				<span class="input-group-text">.00</span>
			</div>
			<div *ngIf="enviado && formulario.controls.costo.errors" class="invalid-feedback">
				<div *ngIf="formulario.controls.costo.errors.required">Debe ingresar el costo del servicio de reparación/mantenimiento del vehículo.</div>
				<div *ngIf="formulario.controls.costo.errors.minlength">El costo ingresada debe contener al menos
					{{formulario.controls.costo.errors.minlength.requiredLength}} dígitos.</div>
			</div>
		</div>

		<p></p>
		<div class="form-group" *ngIf="!modoEditar">
			<button class="btn btn-primary" id="btnEditar">{{btnModoText}}</button>
		</div>
		<div class="form-group" *ngIf="modoEditar">
			<button class="btn btn-success" id="btnGuardar">{{btnModoText}}</button>
		</div>

	</form>
</div>
<app-footer></app-footer>