/* body {
    background: url("/assets/img/taller-fondo-dif.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 87.1vh;
} */
